<header>
    <h1 class="title-home">Desafio Técnico - Estágio Dev</h1>
    <p>Estagiário: Kayck Valentim Hirt</p>
</header>
<hr>
<nav class="card-chalengers">
    <div class="card-link">
        <a routerLink='/conversor-dec-rom'>
            <img src="assets/romano.png" alt="imagem de algarismo romano">
        </a>
        <p class="description">
            <a routerLink='/conversor-dec-rom'>Conversor de números</a>
        </p>
    </div>
    <div class="card-link">
        <a routerLink='/gerador-senha'>
            <img src="assets/senha.png" alt="imagem de escrita password">
        </a>
        <p class="description"><a routerLink='/gerador-senha'>Gerar Senhas</a></p>
    </div>
    <div class="card-link">
        <a routerLink='/elevador'>
            <img src="assets/elevador.png" alt="imagem de mão apertando botão de elevador">
        </a>
        <p class="description"><a routerLink='/elevador'>Elevador</a></p>
    </div>
</nav>